/hardware/wifi/realtek/drivers/8192eu/rtl8192EU-back/
/hardware/wifi/realtek/drivers/8812au/rtl8812AU-back/
/out/
/prebuilts/clang/host/linux-x86/profiles/
/prebuilts/jdk/jdk9/darwin-x86/lib/modules
/prebuilts/jdk/jdk9/linux-x86/lib/modules
/prebuilts/misc/common/robolectric/android-all/android-all-8.1.0-robolectric-r4458339.jar
/prebuilts/tools/darwin-x86_64/bazel/
/prebuilts/tools/linux-x86_64/bazel/
/tools/dexter/testdata/expected/large.code_coverage
/tools/dexter/testdata/expected/large.verbose_cfg
/tools/external/gradle/gradle-api-3.5-20170307000048+0000.jar
/vendor/bananapi/
/vendor/google/
/vendor/opengapps/
/bootloader/
/common/
/frameworks/base/
/packages/apps/TvSettings/
/vendor/xingyi/
/vim3_lcd_exist_detect.patch
